{% extends 'base.html.twig' %}

{% block title %}Edit Server{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Edit Server</h1>
        {{ include('server/_form.html.twig', {buttonTitle: "Edit"})}}
    </div>
{% endblock %}
